

.auth__form {
    max-width: 400px; 
    margin: 0 auto; 
    background-color: rgb(26, 146, 146);
    padding: 40px;
    border-radius: 5px;
  }
  
  .form__group {
    margin-bottom: 15px;
  }
  
  .form__group input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .auth__btn {
    background: #fff !important;
    color: black;
    font-weight: 600;
  }

  .auth__form p{
    margin-top: 30px;
  }

  .auth__form p a{
    color: #fff;
  }

  .auth__form input[type='file'] {
    color: black;
    cursor: pointer;
  }
